/* CSS-Styleguide * * * * * * * * */


*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Lato';
	font-size: 1rem;
	background: #f5f5f5;
	color: #3d3d3d;
}

.wrapper {
	margin: 2em auto;
	max-width: 900px;
	overflow: hidden;
}


/* Header * * * * * * * * */

header {
	background: #8Ad071;
	padding: 20px 0;
	text-align: center;
	font-family: sans-serif;
	font-weight: 400;
}

header intro {
	margin: 0 auto;
	max-width: 900px;
}

header a,
header a:visited {
	color: #fbfffa;
	font-size: 32px;
	font-size: 1.5rem;
	text-decoration: none;
}

header a:hover {
	color: #f0c026;
}

div.logo {
	background-color: #fbfffa;
	float: left;
	display: block;
	padding: 1rem;
	margin-left: 50px;
	border: 2px solid #3d3d3d;
}

div.logo img {
	width: 100px;
}


/* BILDER * * * * * * * * */
#images {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
}

.image {
	width: calc(33.33% - 10px);
	margin-bottom: 20px;
}

.image:first-child, .image:nth-child(2), .image:nth-child(3) {
	margin-bottom: 0;
}

.image img {
	width: 100%;
	height: auto;
}

.details {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}

.name {
	margin: 0;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.roles {
	margin-top: 10px;
	text-align: center;
}

.roles > .title {
	margin: 5px 0;
	font-size: 14px;
	font-family: Raleway;
	font-weight: bold;
}

.roles > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.role {
	margin: 5px 0;
	font-size: 12px;
	color: #6c9af1;
}



/* FARBEN * * * * * * * * */


#colours ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}


#colours li {
	margin-bottom: 2em;
	padding: 50px;
	width: 200px;
	list-style-type: none;
	text-align: center;
	color: #fff;
}


#colours li.first {
	background-color: #8Ad071;
}

#colours li.second {
	background-color: #6c9af1;
}

#colours li.third {
	background-color: #f5f5f5;
	color: #000000;
	border: 1px solid black
}

#colours li.fourth {
	background-color: #000000;
}



/* TYPOGRAFIE * * * * * * * * */

#typo {
	width: 70%;
	float: left;
	margin-left: 10%;
	background: #fbfffa;
	padding: 1em 2em;
}

strong {
	font-weight: 700;
}

hr {
	margin: 40px 0;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 3em 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway';
	letter-spacing: 0.15rem;
	text-align: center;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2.2rem;
}

h3 {
	font-size: 1.9rem;
}

h4 {
	font-size: 1.6rem;
}

h5 {
	font-size: 1.3rem;
}

h6 {
	font-size: 1em;
}

/* Links */

a,
a:visited {
	color: #3d9c34;
	transition: color 0.2s ease;
}

a:hover {
	color: #f0c026;
}

blockquote {
	position: relative;
	padding-left: 1rem;
	border-left: 0.2rem solid;
	font-style: italic;
	font-size: 1.2rem;
}

blockquote:before,
blockquote::after {
	content: '\201C';
	color: lighten(#3d3d3d, 40%);
}

blockquote::after {
	content: '\201D';
}

div.fontwrapper h1,
div.fontwrapper h2,
div.fontwrapper h3,
div.fontwrapper h4,
div.fontwrapper h5,
div.fontwrapper h6 {
  text-align: start;
}